nav {
    position: relative;
    width: calc(100vw - 2rem);
    border-radius: 9px;
    background-color: #ff9ebb;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
}

.navbar-toggler {
    font-weight: bold;
    color: #f24a7d;
    appearance: none;
    width: 3.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.top-row {
    min-height: 3.5rem;
    background-color: #ffccd5;
}

.navbar-brand {
    line-height: 2.7rem;
    font-weight: bold;
    color: #f24a7d;
    font-size: 3rem;
    font-family: 'Fredoka', sans-serif;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.nav-item {
    font-size: 0.9rem;
    border-right: #f24a7d dotted;
    font-family: 'Fredoka', sans-serif;
}

    .nav-item:last-of-type {
        border-left: #f24a7d dotted;
        border-right: none;
        margin-left: auto;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        font-size: 1rem;
        background: none;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item ::deep a.active {
    color: #f2f2f2;
}

.nav-item ::deep .nav-link:hover {
    background-color: #f24a7d;
    color: #ffccd5;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {


    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
