.ticket-content {
    background-color: #f8e195;
    color: #1e0e00;
    margin-bottom: 1rem;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}

.ticket-title {
    font-size: 1.7em;
    font-weight: bold;
    padding: .8rem 0 .5rem 0;
    text-align: center;
}

.sub-title {
    font-size: 1.2em;
    line-height: 1;
    margin: 0;
}


.category-ticker {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.category-ticker p {
    font-size: 0.8em;
    white-space: nowrap;
    padding: 0 0.2rem;
}

.description-section {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: start;
    border-top: dashed 3px #f8ac3b;
    border-bottom: dashed 3px #f8ac3b;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.rating-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    padding-bottom: 0.2rem;
}

.movie-title {
    font-size: 1.2em;
    font-weight: bold;
    justify-self: center !important;
    text-align: center;
}

.ticket-barcode {
    align-self: center;
    justify-self: center;
    padding: 0.8rem 0.4rem 1rem 0.4rem;
}

img {
    max-width: 12em;
    height: auto;
}